h1 {
font-family: serif;
font-style: italic;
font-size: 120px;

}

td, th, tr {
	border: 5px solid;
  font-size: 90px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100px;
  }
  
img {
  width: 1000px;
  height: auto;
}


  