html{
  background-color: black;
  color: white;
}

h1 {
  font-family: serif;
  font-style: italic;
  font-size: 90px;

}

td, th {
	border: 5px solid;

  }
 
.Planets{
  font-size: 45px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.Data {
  font-size: 45px;
  font-family: 'Courier New', Courier, monospace;
 
}

img {
  width: 250px;
  height: auto;
  border: 5px dotted;
  border-color: darkgray;
}


  