html{
  background-color: black;
  color: white;
}

h1 {
  font-family: serif;
  font-style: italic;
  font-size: 120px;

}

td, th {
	border: 5px solid;

  }
 
.Planets{
  font-size: 90px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100px;
}

.Data {
  font-size: 90px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100px;
}

img {
  width: 500px;
  height: auto;
  border: 20px dotted;
  border-color: darkgray;
}


  